*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary{
  background: linear-gradient(16deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%); 
  border: none;
  color: white;
  padding: 16px 12px;
  border-radius: 10000px; 
  cursor: pointer;
}
.nav-container{
    background-color: #1A0B2E;
    max-width: 1600px;
    width: 100%;
    /* max-height: 92px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px;
}
.nav-content{
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.nav-content a{
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-size:1rem ;
  font-weight:500 ;
  color: white;
}
.line{
 font-size:2rem ;
 font-weight: 800;

}
#Tech{
    color: white;
}
#Wave{
  background: linear-gradient(16deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
